<div>
    <form method="POST" action="/page/add">
        <div class="Menu">
            <input type="text" name="name" placeholder="Имя">
            <input type="text" name="number" placeholder="Номер">
        </div>
         <div class="Menu">
            <button type="submit">Добавить</button>
            <button type="button" onclick="{{exit}}">Отмена</button>
        </div>
    </form>
</div>