<div>
    <form method="POST" action="/page/add">
        <div class="Menu">
            <input type="text" name="name" placeholder="Имя">
            <input type="number" name="number" placeholder="Номер">
        </div>
         <div class="Menu">
            <button id ="BTNsubm" type="submit" onmouseenter="ValidateNumber()" >Добавить</button>
            <button type="button" onclick="{{exit}}">Отмена</button>
        </div>
    </form>
</div>
<script>
        function ValidateNumber(){
            document.getElementById('BTNsubm').disabled = false;

        let valide1 = false;
        let valise2 - false;

        if(document.getElementById('inpName2').value.length != 12){
             valide1 = false;
        } 

        let A1 = [3,7,5,2,9]
        for(let i = 0; i < 5; i++){
            if(document.getElementById('inpName2').value[i] == A1[i]){
                valide2 = true;
                continue;
            }
            else {
                valide2 = false;
            }
        }

        if(!valide1 && !valide2){
            document.getElementById('delBTN').disabled = true;
            document.getElementById('BTNsubm').disabled = true;
        }
    }
</script>